.speechToText-Main{
  display: flex;
  justify-content: center;
}

.speechToText-Content{
  min-height: 150px;
  width: 300px;
  background-color: aliceblue;
  padding: 20px;

}
@media (max-width: 600px) {
  .speechToText-Content{
    min-height: 160px;

  }
}