.reTellLecture-Main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reTellLecture-Content{
    height: 350px;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}
.reTellLecture-image{
    height: 80%;
    width: 50%;
    background-color: antiquewhite
}
.reTellLecture-audioAndRec{
    height: 80%;
    width: 50%;
    background-color: beige;
}